/* /*
This is another  css fi;e
// StyleSheet 


header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: darkblue;
    font-size: 2rem;
  }
  
  header p {
    color: gray;
    font-size: 1rem;
    margin-top: 10px;
  }
   */